{% extends "logviewer/base.html" %}
{% load i18n static admin_modify admin_urls %}


{% block content %}
    {% for log in logs %}
         <fieldset class="module aligned collapse">
            <h2>{{ log }}</h2>
            <div class="log">
                <div style="text-align: center; width: 100%; margin-bottom: 5px;">
                    <div class="log-windows" id="log-window-{{forloop.counter0}}" rows=20>
                    </div>
                </div>
            </div>
        </fieldset>
    {% endfor %}

{% endblock content %}


{% block extrahead %}
    {{ block.super }}
    <script type="text/javascript">

        var log_objects = [];

        (function ($) {

            {% for log in logs %}
                var selector = '#log-window-{{forloop.counter0}}';
                var log_object = new Log($(selector), '{{log}}');
                log_object.startReading();
                log_objects.push(log_object);
            {% endfor %}

            var timer = setInterval(tick, 1000);
        })(django.jQuery);

        function tick() {
            console.log(log_objects);
        }

    </script>
{% endblock extrahead %}



{% block extrastyle %}
    {{ block.super }}
    <style>

        fieldset.collapsed div.log {
            display: none;
        }

        .log-windows {
            width: 98%;
            text-align: left;
            background-color: #000;
            color: #ccc;
            font-size: 14px;
            height: 250px;
            overflow: auto;
            padding: 10px;
            line-height: 18px;
            margin: 0 auto;
        }

    </style>
{% endblock extrastyle %}
